In [27]:
import pandas as pd
import numpy as np
from functools import reduce

In [ ]:
# !pip install openpyxl

Requirement already satisfied: openpyxl in /home/nick/transportation/venv/lib/python3.9/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /home/nick/transportation/venv/lib/python3.9/site-packages (from openpyxl) (2.0.0)
WARNING: You are using pip version 22.0.4; however, version 25.0.1 is available.
You should consider upgrading via the '/home/nick/transportation/venv/bin/python3 -m pip install --upgrade pip' command.

In [2]:
df = pd.read_excel('../data/Svodniy_otchet_po_chasam_intensivnost+skorost_01_01_2024_31_12_2024.xlsx')
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28
0,Дата,Общая интенсивность автомобилей,NaN,NaN,Легковые (до 6 м),NaN,NaN,Малые груз. (6-9 м),NaN,NaN,...,Автобусы,NaN,NaN,Мотоциклы,NaN,NaN,"Скорость, км/ч",NaN,"Загрузка, %",NaN
1,NaN,Итого,Прямое,Обратное,Итого,Прямое,Обратное,Итого,Прямое,Обратное,...,Итого,Прямое,Обратное,Итого,Прямое,Обратное,Прямое,Обратное,Прямое,Обратное
2,А-146 Краснодар - Новороссийск - Верхнебаканский,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,км 32+000 а/д А-146 Краснодар-Верхнебаканский,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01.01.2024 00:59:59,122,57,65,112,51,61,4,2,2,...,0,0,0,0,0,0,71,83,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8773,31.12.2024 22:59:59,258,128,130,241,116,125,7,4,3,...,0,0,0,0,0,0,73,83,1,1
8774,31.12.2024 23:59:59,101,54,47,96,52,44,4,1,3,...,0,0,0,0,0,0,0,20,1,1
8775,Итого,12421324,NaN,NaN,9593909,NaN,NaN,659066,NaN,NaN,...,68238,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
8776,Среднее,1416,NaN,NaN,1094,NaN,NaN,75,NaN,NaN,...,8,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
8777,%,NaN,NaN,NaN,77.237,NaN,NaN,5.306,NaN,NaN,...,0.549,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
title = df.iloc[3]['Unnamed: 0']
title

'км 32+000 а/д А-146 Краснодар-Верхнебаканский '

In [6]:
df = df.drop([2,3])
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28
0,Дата,Общая интенсивность автомобилей,NaN,NaN,Легковые (до 6 м),NaN,NaN,Малые груз. (6-9 м),NaN,NaN,...,Автобусы,NaN,NaN,Мотоциклы,NaN,NaN,"Скорость, км/ч",NaN,"Загрузка, %",NaN
1,NaN,Итого,Прямое,Обратное,Итого,Прямое,Обратное,Итого,Прямое,Обратное,...,Итого,Прямое,Обратное,Итого,Прямое,Обратное,Прямое,Обратное,Прямое,Обратное
4,01.01.2024 00:59:59,122,57,65,112,51,61,4,2,2,...,0,0,0,0,0,0,71,83,1,1
5,01.01.2024 01:59:59,261,127,134,252,122,130,5,2,3,...,0,0,0,0,0,0,65,85,1,1
6,01.01.2024 02:59:59,167,61,106,164,59,105,2,1,1,...,0,0,0,0,0,0,48,79,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8773,31.12.2024 22:59:59,258,128,130,241,116,125,7,4,3,...,0,0,0,0,0,0,73,83,1,1
8774,31.12.2024 23:59:59,101,54,47,96,52,44,4,1,3,...,0,0,0,0,0,0,0,20,1,1
8775,Итого,12421324,NaN,NaN,9593909,NaN,NaN,659066,NaN,NaN,...,68238,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
8776,Среднее,1416,NaN,NaN,1094,NaN,NaN,75,NaN,NaN,...,8,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
8777,%,NaN,NaN,NaN,77.237,NaN,NaN,5.306,NaN,NaN,...,0.549,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
data_groups = {}
current_group = df.iloc[0].values[0]
for index, value in zip(df.iloc[0].index, df.iloc[0].values):
    if (pd.isna(value)):
        data_groups[current_group].append(index)
    else:
        current_group = value
        data_groups[current_group] = [index]

data_groups

{'Дата': ['Unnamed: 0'],
 'Общая интенсивность автомобилей': ['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3'],
 'Легковые (до 6 м)': ['Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6'],
 'Малые груз. (6-9 м)': ['Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9'],
 'Грузовые (9-13 м)': ['Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12'],
 'Груз. большие (13-22 м)': ['Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15'],
 'Автопоезда (22-30 м)': ['Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18'],
 'Автобусы': ['Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21'],
 'Мотоциклы': ['Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24'],
 'Скорость, км/ч': ['Unnamed: 25', 'Unnamed: 26'],
 'Загрузка, %': ['Unnamed: 27', 'Unnamed: 28']}

In [125]:
data_dfs = []
index = pd.to_datetime(df['Unnamed: 0'][2:-3], format='mixed')

for group, cols in zip(list(data_groups.keys())[1:], list(data_groups.values())[1:]):
    data_df = df[cols].copy()
    data_df.columns = data_df.iloc[1].values
    data_df = data_df.drop([0, 1])[:-3]
    data_df = data_df.set_index(index)
    data_dfs.append((group, data_df))

In [126]:
data_dfs

[('Общая интенсивность автомобилей',
                      Итого Прямое Обратное
  Unnamed: 0
  2024-01-01 00:59:59   122     57       65
  2024-01-01 01:59:59   261    127      134
  2024-01-01 02:59:59   167     61      106
  2024-01-01 03:59:59   132     59       73
  2024-01-01 04:59:59    92     50       42
  ...                   ...    ...      ...
  2024-12-31 19:59:59   660    376      284
  2024-12-31 20:59:59   490    278      212
  2024-12-31 21:59:59   372    186      186
  2024-12-31 22:59:59   258    128      130
  2024-12-31 23:59:59   101     54       47

  [8771 rows x 3 columns]),
 ('Легковые (до 6 м)',
                      Итого Прямое Обратное
  Unnamed: 0
  2024-01-01 00:59:59   112     51       61
  2024-01-01 01:59:59   252    122      130
  2024-01-01 02:59:59   164     59      105
  2024-01-01 03:59:59   127     58       69
  2024-01-01 04:59:59    85     47       38
  ...                   ...    ...      ...
  2024-12-31 19:59:59   604    335      269
  2024-12-31 20:59:59   464    264      200
  2024-12-31 21:59:59   357    177      180
  2024-12-31 22:59:59   241    116      125
  2024-12-31 23:59:59    96     52       44

  [8771 rows x 3 columns]),
 ('Малые груз. (6-9 м)',
                      Итого Прямое Обратное
  Unnamed: 0
  2024-01-01 00:59:59     4      2        2
  2024-01-01 01:59:59     5      2        3
  2024-01-01 02:59:59     2      1        1
  2024-01-01 03:59:59     2      0        2
  2024-01-01 04:59:59     3      1        2
  ...                   ...    ...      ...
  2024-12-31 19:59:59    20     14        6
  2024-12-31 20:59:59    11      5        6
  2024-12-31 21:59:59     7      4        3
  2024-12-31 22:59:59     7      4        3
  2024-12-31 23:59:59     4      1        3

  [8771 rows x 3 columns]),
 ('Грузовые (9-13 м)',
                      Итого Прямое Обратное
  Unnamed: 0
  2024-01-01 00:59:59     2      2        0
  2024-01-01 01:59:59     1      1        0
  2024-01-01 02:59:59     0      0        0
  2024-01-01 03:59:59     0      0        0
  2024-01-01 04:59:59     1      1        0
  ...                   ...    ...      ...
  2024-12-31 19:59:59     8      7        1
  2024-12-31 20:59:59     7      5        2
  2024-12-31 21:59:59     2      0        2
  2024-12-31 22:59:59     2      1        1
  2024-12-31 23:59:59     0      0        0

  [8771 rows x 3 columns]),
 ('Груз. большие (13-22 м)',
                      Итого Прямое Обратное
  Unnamed: 0
  2024-01-01 00:59:59     1      0        1
  2024-01-01 01:59:59     2      1        1
  2024-01-01 02:59:59     0      0        0
  2024-01-01 03:59:59     3      1        2
  2024-01-01 04:59:59     2      1        1
  ...                   ...    ...      ...
  2024-12-31 19:59:59    11      9        2
  2024-12-31 20:59:59     4      2        2
  2024-12-31 21:59:59     4      3        1
  2024-12-31 22:59:59     5      4        1
  2024-12-31 23:59:59     0      0        0

  [8771 rows x 3 columns]),
 ('Автопоезда (22-30 м)',
                      Итого Прямое Обратное
  Unnamed: 0
  2024-01-01 00:59:59     3      2        1
  2024-01-01 01:59:59     1      1        0
  2024-01-01 02:59:59     1      1        0
  2024-01-01 03:59:59     0      0        0
  2024-01-01 04:59:59     1      0        1
  ...                   ...    ...      ...
  2024-12-31 19:59:59    16     10        6
  2024-12-31 20:59:59     4      2        2
  2024-12-31 21:59:59     2      2        0
  2024-12-31 22:59:59     3      3        0
  2024-12-31 23:59:59     1      1        0

  [8771 rows x 3 columns]),
 ('Автобусы',
                      Итого Прямое Обратное
  Unnamed: 0
  2024-01-01 00:59:59     0      0        0
  2024-01-01 01:59:59     0      0        0
  2024-01-01 02:59:59     0      0        0
  2024-01-01 03:59:59     0      0        0
  2024-01-01 04:59:59     0      0        0
  ...                   ...    ...      ...
  2024-12-31 19:59:59     1      1        0
  2024-12-31 20:59:59     0      0        0
  2024-12-31 21:59:59     0      0        0
  2024-12-31 22:59:59     0      0        0
  2024-12-31 23:59:59     0      0        0

  [8771 rows x 3 columns]),
 ('Мотоциклы',
                      Итого Прямое Обратное
  Unnamed: 0
  2024-01-01 00:59:59     0      0        0
  2024-01-01 01:59:59     0      0        0
  2024-01-01 02:59:59     0      0        0
  2024-01-01 03:59:59     0      0        0
  2024-01-01 04:59:59     0      0        0
  ...                   ...    ...      ...
  2024-12-31 19:59:59     0      0        0
  2024-12-31 20:59:59     0      0        0
  2024-12-31 21:59:59     0      0        0
  2024-12-31 22:59:59     0      0        0
  2024-12-31 23:59:59     0      0        0

  [8771 rows x 3 columns]),
 ('Скорость, км/ч',
                      Прямое Обратное
  Unnamed: 0
  2024-01-01 00:59:59     71       83
  2024-01-01 01:59:59     65       85
  2024-01-01 02:59:59     48       79
  2024-01-01 03:59:59     57       64
  2024-01-01 04:59:59     58       51
  ...                    ...      ...
  2024-12-31 19:59:59     68       83
  2024-12-31 20:59:59     62       84
  2024-12-31 21:59:59     63       81
  2024-12-31 22:59:59     73       83
  2024-12-31 23:59:59      0       20

  [8771 rows x 2 columns]),
 ('Загрузка, %',
                      Прямое Обратное
  Unnamed: 0
  2024-01-01 00:59:59      1        1
  2024-01-01 01:59:59      1        1
  2024-01-01 02:59:59      1        1
  2024-01-01 03:59:59      1        1
  2024-01-01 04:59:59      1        1
  ...                    ...      ...
  2024-12-31 19:59:59      2        2
  2024-12-31 20:59:59      1        1
  2024-12-31 21:59:59      1        1
  2024-12-31 22:59:59      1        1
  2024-12-31 23:59:59      1        1

  [8771 rows x 2 columns])]